.menu{
    width: 1400px;
    margin: 0 100;
    display: inline-block;
}
.inline{
    display: inline-block;
    text-align: center;
}
#home {
    height: 550px;
    background-image: url('background.png');
    background-color: aquamarine;
    background-size: contain;
}
.caption{
    background-color: palegoldenrod;
    position: relative;
    left: 900px;
    height: 350px;
    width: 900px;
    top: 200px;
    
}
.text{
    text-align: center;
}
.table{
    width: 100px;
    margin: 0 auto;
}
.articulo{
    
}
.showmore{
    border: 5px orange;
}